.home{
  width: 80%;
  height: 70vh;
  margin:auto;
  text-align: center;
  padding: 10%;
}
.home__title{
  margin: 15%;
}
.home__button{
  width: 200px;
  padding: 50px;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
  background-color: rgb(123, 128, 127);
  color: white;
  cursor: pointer;
}
