.card{
  margin-left: 4px;
  border: 1px solid rgb(229, 229, 229);
  background: white;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(15% - 0px);
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
}

.card__body{
  text-align: center;
  padding: 10px;
  height: 160px;
}
.card__img{
  width: 80px;
  margin: 10px;
}
.card__footer{
  text-align: center;
  padding: 10px;
}
.card__button{
  background-color: rgb(221, 60, 60);
  color: white;
  padding: 5px;
  border-radius: 6px;
}
.water{
  background-color: #04cff8;
}
