.modal{
  border: 1px black solid;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container{
  background-color: #fff;
  width: 40%;
  height: 40%;
  border-radius: 10px;
  position: relative;
}
.modal__close{
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
}
.modal__content{
  margin-top: 50px;
  text-align: center;
  line-height: 32px;
}
.modal__img{
  width: 50px;
}
